.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    /* border: 1px solid black; */
    gap: 10px;
    padding: 10px;
}

.cell {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
        -10px -10px 10px #fcfcfc55;
    border: 1px solid transparent;
    transition: all 0.3s linear;
}

.cell:hover {
    border: 1px solid black;
}

.reset-button {
    height: 64px;
    width: 200px;
    border: none;
    background-color: #f9f9f9;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
        -10px -10px 10px #fcfcfc55;
    border: 1px solid transparent;
    transition: all 0.3s linear;

}

.reset-button:hover {
    border: 1px solid black;
}

.winner-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: cover;
    background-color: #f9f9f9;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
        -10px -10px 10px #fcfcfc55;
    
    transition: all 0.6s linear;
}

.winner-title.hidden {
    opacity: 0;
    transform: translate(300px, 0);
}