.game-board {
    width: 500px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-board .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
}

.game-board .cell .checker {
    width: 80%;
    height: 80%;
}
