.fadeTrans {
  transition: opacity 0.7s ease-in-out !important;
}
.fadeOut {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}
.blocking {
  pointer-events: none !important;
}

.flexTrans {
  transition: opacity 0.7s ease-in-out, flex 1s ease-in-out !important;
}
.flexLess {
  flex: 0 !important;
}
.flexing {
  flex: 0 !important;
}

.cardsFlexing {
  opacity: 1 !important;
  transform: scale(0.9) !important;
  box-shadow: none !important;
}