@tailwind base;
@tailwind components;
@tailwind utilities;

@function pow($base, $expo) {
  $result: 1;
  @for $i from 1 through $expo {
    $result: $result * $base;
  }
  @return $result;
}

@function next-transform-calc () {
  $factor: 2 - (1 / (pow(2, $next) - 1));
  $translate-x: 5 * $factor;
  @return "translateX(#{$translate-x})"
}

@keyframes moveUpDown {
    0% { transform: translateY(0); }
    15% { transform: translateY(0); }
    30% { transform: translateY(-50%); }
    70% { transform: translateY(-50%); }
    85% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

.card-bg {
  z-index: 2;
  position: relative;
  width: 32%; 

  width: 100%;
  aspect-ratio: 1/1;
  
  overflow: visible;
  border: 1px solid white;
  border-radius: 20px;

  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 20px 10px #000000aa;

  transition: all 1s ease-in-out;

  .card-info {
    position: absolute;
    padding: 10px;

    width: 95%;
    height: cover;
    margin-left: 50%;
    margin-top: 70%;
    transform: translateX(-50%);
    transition: opacity 1s ease;
    border-radius: 20px;

    overflow: visible;


    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid #fffffaa5;
    backdrop-filter: blur(5px);

    .top {
      display: flex;
      flex-direction: row;
      padding: 12px;
      gap: 7px;

      align-items: center;

      height: auto;
      max-height: 16%;

      .avt {
        height: 30px;
        aspect-ratio: 1/1;
        background-image: var(--avt);
        background-size: cover;
        background-position: center;
        border: 2px solid rgb(255,21,21);
        border-radius: 50%;
      }

      p {
        color: white;
      }

  }

    .bot {
      padding: 5px;
      overflow: hidden;
      p {
        color: white;
        font-size: 14px;
      }
    }
  }
    /* & .next {
    z-index: 1;
    transform: next-transform-calc;
  } */
}