@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}

.dev {
  border: 3px solid #ff000033;
  background-color: #ff00ff33;
  /* opacity: 50%; */
}

.blur-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.01);
  z-index: -1;
}

.content-bg {
  background-color: #1c2431ff;
}