.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 6px;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    width: 300px;
    aspect-ratio:  16 / 9;
    gap: 10px;
}

.thumnail label {
    align-items: center;
    text-align: center;
    justify-items: center;
}