.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 6px;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    width: 300px;
    aspect-ratio:  16 / 9;
    gap: 10px;
}

.thumnail label {
    align-items: center;
    text-align: center;
    justify-items: center;
}

/* body {
    background-image: url(https://w0.peakpx.com/wallpaper/196/579/HD-wallpaper-whale-in-the-sky-whale-in-stars-stars-sky-night-milky-star-lights-skies-clouds.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */