.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 6px;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    width: 300px;
    aspect-ratio:  16 / 9;
}

.thumnail div {
    min-height: 40px;
}